/DreamDiffusion-main/dreamdiffusion/datasets
/DreamDiffusion-main/dreamdiffusion/pretrains/
/DreamDiffusion-main/datasets
/DreamDiffusion-main/code/__pycache__
/DreamDiffusion-main/code/sc_mbm/__pycache__
/baseline_results
/res_test
/test_save_path